Meta
doc
.Rproj.user
.Rhistory
.RData
Rmd/
inst/doc
data/hodgkin_500.rds
inst/*.ai
inst/*.pdf
.vscode
.DS_Store

__pycache__
*.egg-info
.eggs/*
.pytest_cache/
build/
__pycache__/
*.__pycache__
.env
.venv